python-dotenv

fastapi

logfire[fastapi,requests] 



unstructured                
python-pptx                 
python-docx                 
pypdf                      
beautifulsoup4              
pdfplumber                  



langchain
langchain_huggingface
langchain_google_genai
sentence_transformers


qdrant_client


uvicorn[standard]
uv